@import './veriables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    min-height: 100vh;
    background-color: $bgColor;
    .logout-txt {
        padding-top: 200px;
    }
    #main-nav {
        background-color: $primaryColor;
    }
    .modal {
        color: $taskColor;
        .modal-content {
            background-color: $bgColor;
            .modal-header {
                background-color: $primaryColor;
            }
            .modal-footer {
                background-color: $bgColor;
            }
        }
        .modal-input {
            color: $taskColor;
        }
    }
    .tasks-panel {
        display: flex;
        align-content: center;

        .buttons-container {
            width: auto;
            padding: 30px 0;

            .add-btn {
                background-color: $goodBtnColor;
            }
            
        }
    }
    .task {
        background-color: $taskColor;
        color: #000;
        font-size: 26px;
        margin-bottom: 15px;
        overflow: hidden;
        .task-header {
            color: $primaryColor;
        }
        .task-content {
            text-transform: uppercase;
        }
        
    }
    @media (max-width: $mediumBreak) {
        .task {
            font-size: 20px;
            margin-left: 5px;
        }
        .task-date {
            display: none;
        }
        .delete-all-btn {
            display: none;
        }
        .panel-btn {
            max-width: 45%;
            font-size: 14px;
            min-height: 70px;
        }
      }
      @media (max-width: $smallBreak) {
        .task {
            font-size: 14px;
            padding: 5px;
        }
        
      }
    .btn {
        color: #F1F0CC;
    }
    .delete-btn {
        background-color: $badBtnColor;
    }
    .add-btn {
        background-color: $goodBtnColor;
    }
    
}

